<a href="https://colab.research.google.com/github/psmainkar/End-to-end-data-analysis-project-/blob/main/Cleaning_data_part_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
pd.set_option("display.max_rows", None)
from ast import literal_eval

In [ ]:
jobs= pd.read_csv('jobs_fullycleaned.csv',index_col=0)

In [ ]:
jobs['how_old']= jobs['how_old'].str.split(' ').str[0]

In [ ]:
jobs['team_size'].value_counts()

1.0         2802
201.0       2067
501.0       1901
51.0        1583
5.0          502
10.0         479
11.0         271
100000.0      60
50.0          38
Name: team_size, dtype: int64

In [ ]:
jobs['positives']= jobs['positives'].apply(literal_eval)
#convert to a list format

In [ ]:
all_factors = [i for sublist in jobs['positives'] for i in sublist ]

# Create a Pandas Series from the flattened list
factors_series = pd.Series(all_factors)
factors_series= factors_series.str.strip()
factors_series= factors_series[factors_series!= 'nan']
factors_series= factors_series.value_counts()

In [ ]:
factors_series

Work Life Balance               3537
Job Security                    3440
Company Culture                 3416
Skill Development / Learning    3113
Work Satisfaction               1281
Salary & Benefits               1259
Promotions / Appraisal           121
dtype: int64

In [ ]:
factors_series.to_csv('positives.csv')

In [ ]:
jobs.head()

,name,rating,avg_salary,jobs,benefits,type_of_company,team_size,how_old,city,positives,negatives
0,TCS,3.8,853300,559,11400,IT Services & Consulting,100000.0,56,Mumbai,"[Job Security, Work Life Balance]","[Promotions / Appraisal, Salary & Benefits]"
1,Accenture,4.0,583100,5800,7000,IT Services & Consulting,100000.0,35,Dublin,"[Company Culture, Job Security, Skill Develo...",[nan]
2,Cognizant,3.9,560500,525,5800,IT Services & Consulting,100000.0,30,Teaneck. new jersey.,[Skill Development / Learning],[Promotions / Appraisal]
3,Wipro,3.8,415300,266,4900,IT Services & Consulting,100000.0,79,Bengaluru,[Job Security],"[Promotions / Appraisal, Salary & Benefits]"
4,HDFC Bank,3.9,131900,270,3200,Banking,100000.0,30,Mumbai,"[Job Security, Skill Development / Learning]",[Promotions / Appraisal]

In [ ]:
def listit(stringg):
  negatives=[]
  for i in stringg.split(','):
    negatives.append(i)
  return negatives

In [ ]:
jobs['negatives']= jobs['negatives'].astype(str).apply(listit)

In [ ]:
all_factors = [i for sublist in jobs['negatives'] for i in sublist ]

# Create a Pandas Series from the flattened list
factors_series = pd.Series(all_factors)
factors_series= factors_series.str.strip()
factors_series= factors_series[factors_series!= 'nan']
factors_series= factors_series.value_counts()

In [ ]:
jobs= jobs.drop(columns=['Unnamed: 0'])

In [ ]:
jobs.head(22)

,name,rating,avg_salary,jobs,benefits,type_of_company,team_size,how_old,city,positives,negatives
0,TCS,3.8,853300,559,11400,IT Services & Consulting,100000.0,56,Mumbai,"[Job Security, Work Life Balance]","[Promotions / Appraisal, Salary & Benefits]"
1,Accenture,4.0,583100,5800,7000,IT Services & Consulting,100000.0,35,Dublin,"[Company Culture, Job Security, Skill Develo...",[nan]
2,Cognizant,3.9,560500,525,5800,IT Services & Consulting,100000.0,30,Teaneck. new jersey.,[Skill Development / Learning],[Promotions / Appraisal]
3,Wipro,3.8,415300,266,4900,IT Services & Consulting,100000.0,79,Bengaluru,[Job Security],"[Promotions / Appraisal, Salary & Benefits]"
4,HDFC Bank,3.9,131900,270,3200,Banking,100000.0,30,Mumbai,"[Job Security, Skill Development / Learning]",[Promotions / Appraisal]
5,ICICI Bank,4.0,143600,216,3700,Banking,100000.0,30,Mumbai,"[Job Security, Skill Development / Learning, ...",[nan]
6,Infosys,3.8,463700,1100,5100,IT Services & Consulting,100000.0,43,Bengaluru,"[Job Security, Company Culture, Skill Develo...","[Salary & Benefits, Promotions / Appraisal]"
7,Capgemini,3.8,372700,675,3900,IT Services & Consulting,100000.0,57,Paris,"[Job Security, Work Life Balance, Skill Deve...","[Promotions / Appraisal, Salary & Benefits]"
8,HCLTech,3.6,289800,471,4000,IT Services & Consulting,100000.0,33,Noida,[Job Security],"[Promotions / Appraisal, Salary & Benefits, ..."
9,Tech Mahindra,3.7,252100,886,3500,IT Services & Consulting,100000.0,38,Pune,[nan],"[Promotions / Appraisal, Salary & Benefits, ..."
10,Genpact,3.9,189300,898,3600,IT Services & Consulting,100000.0,27,New york,"[Job Security, Skill Development / Learning, ...","[Salary & Benefits, Promotions / Appraisal]"
11,Axis Bank,3.8,98200,311,2200,Banking,50.0,31,Mumbai,[Job Security],[nan]
12,Concentrix Corporation,3.9,104600,112,3300,BPO,50.0,41,Fremont,"[Job Security, Company Culture]","[Promotions / Appraisal, Salary & Benefits]"
13,Amazon,4.2,141500,689,4200,Internet,100000.0,30,Seattle,"[Company Culture, Salary & Benefits, Work Li...",[nan]
14,Teleperformance,3.5,75300,246,2000,BPO,50.0,46,Paris,[nan],"[Promotions / Appraisal, Salary & Benefits, ..."
15,Reliance Jio,4.0,67600,131,2600,Telecom,50.0,17,Navi mumbai,"[Job Security, Skill Development / Learning]",[Promotions / Appraisal]
16,IBM,4.1,224200,2600,2700,Software Product,100000.0,113,Armonk,"[Work Life Balance, Job Security, Skill Deve...",[Promotions / Appraisal]
17,Larsen & Toubro Limited,4.0,79200,80,2900,Engineering & Construction,10.0,86,Mumbai,"[Job Security, Skill Development / Learning]",[nan]
18,Reliance Retail,3.9,58900,248,2000,Retail,100000.0,18,Navi Mumbai,"[Skill Development / Learning, Job Security]",[Promotions / Appraisal]
19,HDB Financial Services,4.0,50500,45,1500,NBFC,100000.0,17,Ahmedabad,"[Skill Development / Learning, Job Security, ...",[Promotions / Appraisal]
20,Vodafone Idea,4.2,61300,336,2000,NaN,5.0,6,Mumbai,"[Company Culture, Work Life Balance, Salary ...",[nan]
21,BYJU'S,3.1,55400,885,1900,EdTech,10.0,13,Bengaluru,[nan],"[Job Security, Work Life Balance, Company Cu..."

In [ ]:
factors_series.to_csv('negatives.csv')

In [ ]:
jobs.to_csv('jobs_finals.csv')